* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: none;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
li {
  line-height: 100%;
}
blockquote,
q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea,
button {
  margin: 0;
  font-family: inherit;
  font-size: 1em;
}
html {
  height: 100%;
}
q:before,
q:after {
  content: "";
}
body {
  font: 12px/20px Arial, Helvetica, sans-serif;
  color: #5d5d5d;
  background: #f4f4f4;
  height: 100%;
  min-width: 970px;
}
a {
  color: #fe9b00;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#container {
  min-height: 100%;
  width: 960px;
  margin: 0 auto;
}
* html #container {
  height: 100%;
}
#header {
  padding: 32px 0 17px;
  font: 13px/15px Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 18px;
}
#header .mail {
  text-align: right;
  position: relative;
}
#header .mail a {
  color: #999898;
}
#header .row {
  width: 100%;
  overflow: hidden;
  margin-top: -11px;
}
.logo {
  float: left;
  overflow: hidden;
  text-indent: -9999px;
  background: url(./img/logo.png) no-repeat;
  width: 218px;
  height: 103px;
}
.logo a {
  display: block;
  height: 100%;
}
#nav {
  padding: 45px 0 0;
  flaoat: right;
}
#nav li {
  float: left;
  margin-left: 60px;
  display: inline;
  font: bold 12px/15px Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

#nav li a:hover,
#nav li.active a {
  text-decoration: none;
  color: #090909;
}
.promo {
  background: url(./img/img01.png) no-repeat;
  position: relative;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 18px;
  margin-bottom: 22px;
  width: 960px;
  height: 380px;
}

.promo h1 {
  padding-left: 35px;
  padding-top: 30px;
  color: white;
  font-size: 80px;
}

.promo img {
  display: block;
}

.promo .view {
  position: absolute;
  background: #090909;
  width: 422px;
  text-transform: uppercase;
  font: bold 15px/44px Arial, Helvetica, sans-serif;
  color: #999898;
  top: 290px;
  left: 35px;
  padding: 0 8px 0 13px;
  overflow: hidden;
}
.promo .view a {
  float: right;
  background: url(./img/arrow-orange.gif) no-repeat 100% 19px;
  padding-right: 16px;
}
#main {
  width: 100%;
  overflow: hidden;
  padding-bottom: 145px;
}
.three-cols {
  width: 1020px;
  overflow: hidden;
  padding-bottom: 23px;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 19px;
}
.three-cols .col {
  float: left;
  width: 283px;
  margin-right: 56px;
  display: inline;
}
.three-cols .col h2 {
  text-transform: uppercase;
  font: bold 18px/18px Arial, Helvetica, sans-serif;
  color: #090909;
  padding: 0 0 10px 28px;
  border-bottom: 6px solid #090909;
  background: url(./img/arrow.gif) no-repeat 0 7px;
  margin-bottom: 16px;
}
.three-cols .col .more {
  background: url(./img/small-arrow.gif) no-repeat 0 50%;
  padding-left: 23px;
  font-weight: bold;
  text-transform: uppercase;
}
.three-cols .col p {
  margin-bottom: 5px;
}
.three-cols .list li {
  background: url(./img/sep02.gif) no-repeat 0 3px;
  line-height: 14px;
  padding: 2px 0 14px 29px;
}
.three-cols q {
  display: block;
  margin-bottom: 19px;
}
.three-cols cite {
  color: #090909;
}
.portfolio {
  padding-bottom: 40px;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 25px;
}
.portfolio h2 {
  text-transform: uppercase;
  font: bold 18px/18px Arial, Helvetica, sans-serif;
  color: #090909;
  padding: 0 0 18px 30px;
  background: url(./img/arrow.gif) no-repeat 0 7px;
}

.portfolio ul {
  width: 994px;
  overflow: hidden;
}
.portfolio ul li {
  float: left;
  margin-right: 33px;
  position: relative;
}
.portfolio ul li img {
  display: block;
}
.portfolio .view {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 20px 0 10px;
  color: #090909;
  font: bold 12px/21px Arial, Helvetica, sans-serif;
  background: #fe9b00 url(./img/orang-arrow.gif) no-repeat 100% 6px;
  text-transform: uppercase;
}
* html .portfolio .view {
  bottom: -1px;
  right: -1px;
}
.block {
  width: 100%;
  overflow: hidden;
}
.block h3 {
  background: url(./img/small-arrow.gif) no-repeat 0 4px;
  padding: 0 0 21px 23px;
  font: bold 12px/14px Arial, Helvetica, sans-serif;
  color: #090909;
  text-transform: uppercase;
}
.block .social {
  float: right;
  width: 219px;
  margin-left: 82px;
}
.social ul {
  width: 100%;
  overflow: hidden;
}
.social li {
  float: left;
  margin-right: 14px;
}
.social li img {
  display: block;
}
.block .text {
  height: 1%;
  overflow: hidden;
}
#footer {
  background: #e2e2e2;
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: -101px;
}
#footer .holder {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  padding: 19px 0 18px;
}
#footer,
#footer a {
  color: #5d5d5d;
  font-weight: normal;
  text-decoration: none;
  border: none;
}
#footer a:hover {
  text-decoration: none;
}
#footer p {
  margin: 0;
  padding: 20px 0 0 0;
  line-height: normal;
}
#footer .lf {
  float: left;
  vertical-align: middle;
  margin-top: 40px;
}

#footer .rf {
  vertical-align: middle;
  float: right;
}
