* {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

#no-border h1 {
  padding: 0;
  /* margin: 10px 255px 8px 30px; */
  margin-top: 10px;
  margin-right: 255px;
  margin-bottom: 8px;
  margin-left: 30px;
}

#no-border p {
  /* padding: 0px 0px 0px 70px; */
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 70px;
  padding-bottom: 0px;
  /* margin: 3px 30px 3px 30px; */
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 30px;
  margin-right: 30px;
}

#border h1 {
  border: 2px #ff7d79 solid;
  width: 8%;
  padding: 0;
  margin: 10px 255px 8px 30px;
}

header {
  border: 2px black dashed;
}

#border p {
  border: 2px #ff7d79 solid;
  padding: 0px 0px 0px 70px;
  margin: 3px 30px 3px 30px;
}

article {
  border: 2px black dashed;
}
