@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  height: 69vh;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

.container {
  margin-top: 18%;
  text-align: center;
  flex-flow: wrap;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

h1 {
  padding: 5px 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 3rem;
  margin: 0;
  width: 80%;
}

.time {
  font-size: 6rem;
  font-weight: bolder;
}
