@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.3rem;
  line-height: 1.4;
  text-align: justify;
}

.center {
  display: block;
  margin: 0 auto;
}

button {
  padding: 10px 40px;
  font-size: 1.1rem;
}

.classexample {
  color: #43aa;
  font-size: 23px;
}

#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: rgb(40, 221, 4);
}

#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: #fafafa;
}
