@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#container {
  margin: 0px 100px;
  padding-top: 30px;
}

header {
  height: 100px;
}

header * {
  display: inline;
}

header h1 {
  color: #006a69;
}

#login {
  float: right;
}

#login p {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

#login button {
  color: #ffffff;
  background-image: linear-gradient(#f39614, #ca721c);
  width: 100px;
  height: 30px;
  border: none;
}

#login input {
  font-size: 14px;
  width: 180px;
  height: 25px;
}

#shape * {
  display: inline-block;
  margin: 0 5px;
  width: 48%;
  height: 30px;
  background-color: #0f4e4d;
}

#shape-left {
  transform: skew(20deg);
}

#shape-right {
  transform: skew(160deg, 180deg);
  float: right;
}

#main {
  width: 97%;
  margin: auto auto;
  transform: translate(0, -34px);
  border: 1px solid white;
  background-color: white;
  box-shadow: 0 0 10px #888888;
}

#landing-text,
#landing-img {
  display: inline-block;
  width: 45%;
  margin: 0px 20px;
}

#title h1 {
  font-size: 34px;
  color: #51b2c4;
}

#title .grey {
  color: #575757;
}

.paragraph {
  text-align: justify;
  color: #4e4e4e;
}

#landing-text {
  vertical-align: middle;
}

#landing-img * {
  width: 90%;
  vertical-align: middle;
}

#landing-text button {
  height: 40px;
  width: 150px;
  background-image: linear-gradient(#70a5eb, #557b8d);
  border: 1px solid white;
  color: white;
}

.shadow {
  height: 5px;
  width: 95%;
  margin: 10px auto;
  box-shadow: 0 4px 2px -2px #888888;
}

#mission {
  width: 100%;
  margin: 20px 0px;
}

.box {
  margin: 0px 20px;
  display: inline-block;
  width: 29%;
}

.box img {
  width: 100%;
  border: white 10px solid;
  box-shadow: 0 10px 10px -2px #888888;
}

.box h2 {
  margin: 0;
}

.box button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #f58205;
  border: none;
}

#last {
  margin: 20px 0;
  width: 97%;
}

#last * {
  display: inline-block;
}

#section1 {
  width: 65%;
  vertical-align: top;
}

#last h2,
#testimonial {
  margin: 0px 20px;
}

#testimonial * {
  display: inline-block;
  margin: 10px 0;
}

#testimonial img {
  width: 30%;
  vertical-align: middle;
  margin-right: 10px;
  border: white 10px solid;
  box-shadow: 0 0 10px #888888;
}

.quote {
  width: 65%;
  vertical-align: middle;
}

.dash {
  border-bottom: dashed 2px #888888;
}

#section2 {
  width: 30%;
}

#section2 h2 span img {
  width: 25px;
  vertical-align: middle;
}

#section2 h2 {
  margin: 0;
  margin-bottom: 5px;
}

.news * {
  margin: 3px 0;
}

.news h1 {
  margin: 0;
  padding: 0;
}

.date {
  text-decoration: underline;
  color: #026aff;
}

#footer {
  margin: 0 75px;
  width: 100%;
  padding-bottom: 50px;
}

#footer-menu {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}

#footer-menu ul li,
#footer-menu ul li a {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

#footer-menu ul li {
  border-right: 1px solid #4e4e4e;
  padding: 0 20px;
  text-align: center;
}

#footer ul li:nth-child(8) {
  border-right: none;
}

#license {
  padding-left: 55px;
}

#license * {
  display: inline;
  margin: 0 5px;
}

#license p:nth-child(1) {
  border-right: 1px solid #4e4e4e;
}

#social {
  width: 35%;
  display: inline-block;
  vertical-align: middle;
}

#social p {
  display: inline-block;
  vertical-align: middle;
}

.social-logo {
  width: 48px;
  height: 48px;
  margin: 0 3px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

#myspace {
  background: url("../img/myspace.png");
}

#facebook {
  background: url("../img/facebook.png");
}

#twitter {
  background: url("../img/twitter.png");
}

#rss {
  background: url("../img/rss.png");
}
